{% extends "base.html" %}


{% block content %}

    <div class="project-thumbnail">
        <img class="project-thumbnail" src="{{ object.thumbnail.url }}" width="100%">
    </div>

    <div class="project-title">
        <a href="">
            <h1>
                {{ object.title }}
            </h1>
            <h2>
                {{ object.subtitle }}
            </h2>
        </a>
        <div class="project-meta">
            <a href="{{ object.author.get_absolute_url }}">
                <img src="{{ object.author.profile_image.url }}" class="project-author-image">
            </a>
            <div class="project-author-container">
                <a href="{{ object.author.get_absolute_url }}" class="project-author">
                    {{ object.author.username|upper }}
                </a>
                <a href="" class="project-date">
                    {{ object.publishing_date.date }}
                </a>
            </div>
        </div>
    </div>

    <div class="project-content">
        {{ object.content|safe }}
    </div>

    <hr>

    <div class="project-tags">
        <p>
            Tags:
        </p>
        {% for tag in object.tagss.names %}
            <a href="" class="project-tag">
                {{ tag }}
            </a>
        {% endfor %}
    </div>
{% endblock %}

