{% extends 'core.html' %}

{% block header %}
  <div class="header">
    <div class="header-container">
      <div class="header-logo">
        <div class="header-logo-text">
          {# 20.07.2019 #}
          {# The pitronically logo in the header now just links to the main page #}
          {# I am just so used to this behaviour, that it just felt like something is missing, if the logo is #}
          {# is not actually a link #}
          <a href="{% url 'blog:entries' %}" class="invisible-link">
            Pitronically
          </a>
        </div>
      </div>
    <div class="header-navbar">
      {% if navitems %}
        {% for navitem, link in navitems.items %}
          <div>
            <a href="{{ link }}">
                {{ navitem }}
            </a>
          </div>
        {% endfor %}
      {% endif %}
      {% if request.user.is_authenticated %}
        <div class="header-navbar-logout">
          <a href="{% url 'account_logout' %}" class="header-logout-button">
            Logout
          </a>
        </div>
        <div class="header-navbar-profile">
          <a href="{% url 'users:detail' request.user.username %}" class="header-profile-button" id="header-profile-button">
            My Profile
          </a>
        </div>
      {% else %}
        {# Until the signup is actually implemented I will have to let the redirct be to the projects blog #}
        <div class="header-navbar-signin">
          <a href="{% url 'blog:projects' %}" class="header-signin-button">
            Sign In
          </a>
        </div>
        <div class="header-navbar-signup">
          <a href="{% url 'blog:projects' %}" class="header-signup-button">
            Sign Up
          </a>
        </div>
      {% endif %}
    </div>
    </div>
  </div>
{% endblock %}

{% block body %}

  <div class="body">
    
    <div class="body-container">
      <div class="body-main">

        {# The content wrapper #}
        <div class="content">
          <div class="content-container">
            <div class="main">
              {% block content %}
                sample content
              {% endblock %}
            </div>
            <div class="comments">
              {% block comments %}

              {% endblock %}
            </div>

          </div>
        </div>

        {% if sidebar.active %}
          <div class="sidebar">
            <div class="sidebar-container">
              {% for item in sidebar.items %}
                {{ item|safe }}
              {% endfor %}
            </div>
          </div>
        {% endif %}

      </div>

      <div class="body-bottom">
        <div class="footer">
          <div class="footer-container">
            <a href="{% url 'blog:projects' %}">Home</a>
            <a href="{% url 'blog:projects' %}">Projects</a>
            <a href="{% url 'impressum' %}">Impressum</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
